.container {
    margin-left: 10px;
    margin-right: 10px;
}

.card_total{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    background: #fff;
}

.card_number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number_total{
    color: #56606e;
    font-size: 23px;
    font-weight: 700;
}

.title_total{
    color: #8a909d;
    font-size: 15px;
}

.chart{
    margin-top: 30px;
}

.title{
    font-size: 22px;
    font-weight: 600;
}

.ant-layout-content {
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
}

.ant-layout-content {
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
}

#dashboard-layout{
    background-color: #F5F5F5 !important;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px 20px 24px 5px !important;
    border: 0 none;
    overflow: hidden;
    box-shadow: none !important;
}


.ant-pagination-item {
    border-radius: 10px;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    border-radius: 10px;
}

.ant-page-header-content {
    padding-block-start: 0px;
}

.ant-layout-content {
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
}

.header-asset-container {
    margin-left: 6px !important;
}

#asset{
    background-color: #ececec;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 18px 20px 24px 5px !important;
    border: 0 none;
    overflow: hidden;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#asset_container{
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}
